*
!README.md
!autoexec.cfg
!bhop.cfg
!buybinds.cfg
!prac.cfg
!demo.cfg
!keybinds.cfg
!knifeMenu.cfg
!kz.cfg
!lkz.cfg
!offline.cfg
!.gitignore
!printMsg.cfg

!crosshair_recoilOn.cfg
!crosshair_recoilOff.cfg
!crosshair_cross.cfg
!crosshair_dot.cfg
!crosshair_reset.cfg

!.vscode
!.vscode/**