*
!README.md
!activateDroppedKnife.cfg
!autoexec.cfg
!bhop.cfg
!buybinds.cfg
!prac.cfg
!crosshair.cfg
!demo.cfg
!keybinds.cfg
!kz.cfg
!lkz.cfg
!offline.cfg
!.gitignore
!printMsg.cfg
!cross.cfg
!dot.cfg
!mirageInstantSmokePrac.cfg
!.vscode
!.vscode/**
!recoilCross.cfg
!recoilCrossOff.cfg